
@media (min-width: 375px) {

  .header{
      background-image: url(../assets/images/bg-header-desktop.png), linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0));
      background-repeat: no-repeat;
      background-size: cover;
  }
<<<<<<< HEAD
=======

  .btn-container {
    display: flex;
    flex-direction: row;
  }

  .advantage-scharge {
    display: flex;
    flex-direction: row;
  }
  .advantage-scharge div {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .companie-container {
    display: flex;
    flex-direction: row;
  }

  .companie-container__logo {
    margin: 1rem 3rem;
    width: 50rem;
    min-width: 50px;
  }


>>>>>>> master
} 