    @import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

    html{
        font-size: 62.5%;
    }

    body{
        margin: 0;
        padding: 0;
        font-family: 'Bai Jamjuree', sans-serif;
    }

   
    .header {
        background-image: url(../assets/images/bg-header-mobile.png), linear-gradient(#ffffff, rgba(255,255,255,1));
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    
    }
    
    .main-container{
        /* margin-top: 50rem; */
    }

    .header-logo {
        margin-top: 10rem;
        margin-bottom: 5rem;
    }

    .main, .section-keep{
        margin: 2.5rem;
        margin-bottom: 5rem;
        text-align: center;
    }

    .main h1,
    h2,
    h3{
        font-weight: 600;
        color: hsl(210, 10%, 33%);
    }

    h1{
        margin: 2rem 0;
        font-size: 3rem; 
    }

    h2{
        font-size: 2.2rem;
    }

    h3{
        font-size: 1.8rem;
    }

    p{
        font-size: 1.6rem;
        color:hsl(201, 11%, 66%);
        font-weight: 400;
        line-height: 1.5;
    }

    .main .btn-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .main .btn-container-above,
    .btn-container-below{
        margin: 1rem;
        padding: 1rem 6rem;
        border-radius: 2rem;
        width: 300rem;
        font-family: 'Bai Jamjuree', sans-serif;
        font-size: 1.8rem;
        color: white;
        transition: all 200ms;
        text-decoration: none;
    }

    .main .btn-above--green{
        border: 1px solid  hsl(171, 66%, 44%) ;
        background-color: hsl(171, 66%, 44%);
        box-shadow: 1px 4px 2px hsl(171, 66%, 39%);
    }

    .main .btn-below--blue{
        border: 1px solid  hsl(233, 100%, 69%);
        background-color:hsl(233, 100%, 69%);
        box-shadow: 1px 4px 2px hsl(233, 100%, 62%);
    }

    .section-keep .keep-title{
      padding: 0 2rem;  
    }

    .section-keep .keep-img{
        margin: 5rem 0 2rem 0;
        width: 100%;
    }