@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

    html{
        font-size: 62.5%;
    }

    body{
        margin: 0;
        padding: 0;
        font-family: 'Bai Jamjuree', sans-serif;
    }
    h1,
    h2,
    h3{
        font-weight: 600;
        color: hsl(210, 10%, 33%);
    }

    h1{
        margin: 2rem 0;
        font-size: 3rem; 
    }

    h2{
        font-size: 2.5rem;
    }

    h3{
        font-size: 2.2rem;
    }

    p{
        font-size: 1.6rem;
        color:hsl(201, 11%, 66%);
        font-weight: 400;
        line-height: 1.5;
    }

   
    .header {
        background-image: url(../assets/images/bg-header-mobile.png), linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0));
        background-repeat: no-repeat;
        background-size: cover;
    
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    
    }
    
    .header-logo {
        margin-top: 10rem;
        margin-bottom: 5rem;
    }

    .main, .section-keep, 
    .section-access, 
    .section-scharge,
    .section-companies,
    .section-clipboard{
        margin: 2.5rem;
        margin-bottom: 10rem;
        text-align: center;
    }

    .section-clipboard .btn-container,
    .main .btn-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .section-clipboard .btn-container-above,
    .btn-container-below,
    .main .btn-container-above,
    .btn-container-below{
        margin: 1rem;
        padding: 1.5rem 6rem;
        border-radius: 3rem;
        width: 20rem;
        font-family: 'Bai Jamjuree', sans-serif;
        font-size: 1.6rem;
        font-weight: 600;
        color: white;
        transition: all 200ms;
        text-decoration: none;
    }

    .section-clipboard .btn-above--green,
    .main .btn-above--green{
        border: 1px solid  hsl(171, 66%, 44%) ;
        background-color: hsl(171, 66%, 44%);
        box-shadow: 1px 4px 2px hsl(171, 66%, 39%);
    }

    .section-clipboard .btn-below--blue,
    .main .btn-below--blue{
        border: 1px solid  hsl(233, 100%, 69%);
        background-color:hsl(233, 100%, 69%);
        box-shadow: 1px 4px 2px hsl(233, 100%, 62%);
    }

    .section-keep .keep-title{
      padding: 0 2rem;  
    }

    .section-keep .keep-img, 
    .section-access .access-img{
        margin: 5rem 0 2rem 0;
        width: 100%;
    }

    .section-scharge .title-scharge{
        padding:0 2rem;
    }

    .section-scharge 
    .advantage-scharge
    {
        margin-top: 10rem;
    }
    .advantage-scharge
    .create-scharge,
    .plain-scharge,
    .sneak-scharge{
        margin-bottom: 5rem;
    }

    .companie-container{
        padding: 0 5rem;
    }

    .companie-container img{
        margin: 2rem 0 3rem;
        width: 100%;
    }

    .section-clipboard .clipboard-text{
        margin-bottom: 3rem;
        padding: 0 1rem;
    }

    .footer {
        display: grid;
        background-color: hsl(201, 11%, 96%);
        grid-template: 1fr / 3fr;
        width: 100vw;
      }
      
      .footer-logo {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .footer-logo img{
        margin: 1rem;
        width: 5rem;
      }
      
      
      .footer-links {
        display: grid;
        grid-template: repeat(1fr,5) / 1fr;
      }
      
      .footer-links a{
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.8rem;
        text-align: center;
      
        text-decoration: none;
        color: hsl(210, 10%, 33%);
      }
      
      .footer-social {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .footer-social figure {
        margin: 20px;
      }
      
